<!DOCTYPE HTML>

<html>
	<head>
		<style>
.wrappp{max-width: 900px; float:center;}
.tableWrappp{max-width: 900px; float:left;
			width:130px; height:300px; font-color:white; font-size:18px; font-family: 'Nanum Gothic Coding', monospace; display:inline;}
img{
	width:125px;
	height:200px;
}

span{
	display:table-row;
	text-align: center;
}

td{
	width:150px;
	height:220px;
}

ul {
	list-style:none;
	float:left;
	display:inline;
}
ul li {
	list-style:none;
	float:left;
}
ul li a {
	float:left;
	padding:4px;
	margin-right:10px;
	width:25px;
	color:white;
	font:bold 15px tahoma;
	border:1px solid #eee;
	text-align:center;
	text-decoration:none;
}
ul li a:hover, ul li a:focus {
	color:black;
	border:1px solid white;
	background-color:white;
}
		</style>
		<title>Whatch Theater-연극</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload" style="font-family: 'Nanum Gothic Coding', monospace;">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
<!--연극 배너
<p></p><p></p><p></p>
					<h1 style="font-family: 'Nanum Gothic Coding', monospace;">연극</h1>
-->
<p></p>

<header id="header" style="display:block;">
	<div class="content">
		<div class="inner">
			<h1>연극</h1>
		</div>
	</div>
</header>





<br><br><br><br><br>
<table style="width:900px;">
	<tr>
		<td align="center">
			<span><img src="http://www.munhwanews.com/news/photo/201605/17008_35926_2311.jpg">
		</span>
		<span>
			<a href="#">만리향</a>
		</span>
	</td>
	<td align="center">
				<span><img src="http://www.munhwanews.com/news/photo/201605/17008_35926_2311.jpg">
		</span>
		<span>
			<a href="#">만리향</a>
		</span>
	</td>
	<td align="center">
				<span><img src="http://www.munhwanews.com/news/photo/201605/17008_35926_2311.jpg">
		</span>
		<span>
			<a href="#">만리향</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		<!--
			src=""큰 따옴표 안에 사진 경로 지정 혹은 링크
		-->
		</span>
		<span>
			<a href="#">
		<!--
			여기 이 자리에 영화/뮤지컬 제목넣고, 윗 라인 #자리에는 글자 누르면 넘어갈 링크 주소
		-->
			</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
		<!--
			한 행에 5개가 넘어가서 다음 줄로 바뀜 줄 바뀌는 태그는 <tr>
		-->
	<tr>
		<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
</tr>
<!--여기서부터 3번재줄-->
	<tr>
		<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
</tr>

<!--4번째줄-->
	<tr>
		<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
</tr>



<!--마지막 5번째줄-->
<tr>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
	<td align="center">
		<span>
			<img src="">
		</span>
		<span>
			<a href="#">
				
			</a>
		</span>
	</td>
</tr>
</table>



<div style="height:40px; width:900px; border:1px; border-radius:10px;float:center; background-color: white;">
		<input type="text" placeholder="Search" style=" background: white; font-size:16px; width:90%; height:40px; padding:10px; border:2px; outline:none; float:left; color:black;">
		<button style="width:10%; height:40px; font-size:12px; border:0px; background:black; outline:none;">Search</button>
	</div>
		</td>
		</tr>

</table>

<br><br><br><br><br><br><br>



	<ul>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">6</a></li>
		<li><a href="#">7</a></li>
	</ul>
				<!-- Footer -->
					<footer id="footer" style="font-size:18px;">
						Whatch Theater
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
