<!DOCTYPE HTML>

<html>
	<head>
		<style>
.wrappp{max-width: 900px; float:center;}
.tableWrappp{max-width: 900px; float:left;
			width:130px; height:300px; font-color:white; font-size:18px; font-family: 'Nanum Gothic Coding', monospace; display:inline;}
img{
	width:125px;
	height:200px;
}

span{
	display:table-row;
	text-align: center;
}

td{
	width:150px;
	height:220px;
}

ul {
	list-style:none;
	float:left;
	display:inline;
}
ul li {
	list-style:none;
	float:left;
}
ul li a {
	float:left;
	padding:4px;
	margin-right:10px;
	width:25px;
	color:white;
	font:bold 15px tahoma;
	border:1px solid #eee;
	text-align:center;
	text-decoration:none;
}
ul li a:hover, ul li a:focus {
	color:black;
	border:1px solid white;
	background-color:white;
}



li{list-style:none;}
a{text-decoration: none;}

.clearfix{content:''; display:block; clear:both;}
.head{
	height:75px;
	background-color: rgba(0, 0, 0, 0.6);
	border:1px solid black;
	position: fixed;
	width:100%;
	z-index:999;
	top:0;
	left:0;
}
h1{color:white; line-height: 75px; float:left;}
.menu{float:right;}
.menu li{float:left;}
.menu li a{border:0; text-align: center; width:150px; line-height: 75px; color:white; padding: 0 15px; display:block;}

		</style>
		<title>Whatch Theater-MyPage</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="assets/css/main.css" />

		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<script>
			var patt = new RegExp("[0-9]{2,3}-[0-9]{3,4}-[0-9]{3,4}");
var res = patt.test( $("#tlno").val());

if( !patt.test( $("#tlno").val()) ){
    alert("전화번호를 정확히 입력하여 주십시오.");
    return false;
}
</script>
	</head>
	<body class="is-preload" style="font-family: 'Nanum Gothic Coding', monospace;">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->

<p></p>

<header class="head">
	<div>
		<h1>Whatch Theater</h1>
		<nav>
			<ul class="menu">
				<li><a href="/" class="menu">Home</a></li>
				<li><a href="/poster-act/page/1" class="menu">연극</a></li>
				<li><a href="/poster-musical/page/1" class="menu">뮤지컬</a></li>
				<li><a href="/mypage" class="menu">마이페이지</a></li>
			</ul>
		</nav>
	</div>
</header>





<br><br><br><br>
<header id="header" style="display:block;">
	<div class="content">
		<div class="inner">
			<h1>회원정보수정</h1>
		</div>
	</div>
</header>


<div id="wrapper" class="signUp">
							<!-- Form -->
								<form action="/auth/user-update" id="form">
									<div class="sginUpText">
										<div>
											<input type="text" name="nick" id="name" value="<%= user.nick %>" placeholder="Name" />
										</div>
										<p></p>
										<div>
											<input type="email" name="email" id="email" value="<%= user.email %>" placeholder="Email" />
										</div>
										<p></p>
										<div>
											<input type="Password" name="password" id="Password" value="" placeholder="Password">
										</div>
										<p></p>
										<!-- Break -->
										<input style="width:280px; height:45px" type="tel" name="tlno" title="전화번호를 입력하세요." value="<%= user.phoneNumber %>" placeholder="010-0000-0000" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{3,4}" maxlength="13">
										<p></p>
											<div>
												<select name="category" id="category">
													<option value="">- favorite category of play -</option>
													<option value="1">스릴러</option>
													<option value="2">로맨스</option>
													<option value="3">공포</option>
													<option value="4">추리</option>
												</select>
											</div>
										</div><p></p>
										<div>
											<input type="checkbox" id="copy" name="copy" value="receiveMail">
											<label for="copy">이메일 수신 동의</label>
										</div>
										<div>
											<input type="checkbox" id="human" name="human" checked value="admitPrivate">
											<label for="human">개인정보처리약관 동의</label>
										</div>
										<p></p><p></p>
										<div>
											<ul>
												<li><input id="submit" style="float:left;" type="button" value="회원탈퇴" onclick="userUpdate()" /></li>
												
											</ul>
										</div>
<p></p><p></p>
										<div>
											<ul>
												<li><input style="float:left;" type="submit" value="등록" /></li>
												
											</ul>
										</div>									</div>
								</form>
				</div>

<!--
<p>
	ID : 
</p>
<p>
	이름 : 
</p>
<p>
email : 
</p>
<p>
	연락처 : 
</p>
<p>
	Password : 
</p>


<br><br><br><br>
-->
				<!-- Footer -->
					<footer id="footer" style="font-size:18px;">
						Whatch Theater
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script>
				var userUpdate = () => {
					var xhr = new XMLHttpRequest();
					var data = {
						nick: $("input[name='nick']").val(),
						email: $("input[name='email']").val(),
						password: $("input[name='password']").val(),
						phoneNumber: $("input[name='tlno']").val(),
						copy: $("input[name='copy']").val(),
						human: $("input[name='human']").val(),
						category: $("#category").val(),
					};
					/*
					* 요청을 보내고 응답을 받지 않으면 계속해서 페이지가 빙빙돈다
					* 그러므로 onload 함수를 통해 직접 리다이렉트를 만져야한다
					 */
					xhr.onload = function() {
						if(xhr.status === 200) {
							alert('수정되었습니다');
							//리다이렉트
							location.assign(xhr.responseURL);
						} else {
							console.error(xhr.responseText);
						}
					};
					xhr.open('PUT', '/auth/user-update');
					xhr.setRequestHeader('Content-Type', 'application/json');
					xhr.send(JSON.stringify(data));
				}
			</script>

	</body>
</html>
