<!DOCTYPE HTML>
<html>
	<head>
		<style>
		.signUp {
 			  position: relative;
			   margin: 50px auto;
			   width: 280px;
			   padding: 33px 25px 29px;
}
		.loginImage{
			   position: relative;
 			  margin: 50px auto;
 			  width: 280px;
  			 padding: 33px 25px 29px;

		}
	</style>
		<title>Watch Theater</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper" class="signUp">
						<h2 class="major">Login</h2>
								<form method="post" action="/auth/signIn">
									<div class="row uniform">

										<div class="6u 12u$(xsmall) row uniform">
											<input type="email" name="email" id="name" value="" placeholder="ID" />
										</div>
										<p>
										<div class="6u$ 12u$(xsmall)">
											<input type="password" name="password" id="email" value="" placeholder="Passward" />
										</div>
										</p>
										<p>
										<form method="post" action="/auth/signIn">
											<div class="row uniform">
												<div class="3u$ 12u$(small)">
													<input type="submit" value="Login" class="fit" />
												</div>
											</div>
										</form>
										</p>
										Do you want to <a href="/signUp">sign up?</a>
									</div>
								</form>
								<hr/>

				</div>

					<footer id="footer">
						<p>Watch Theater</p>
					</footer>

			</div>

			<div id="bg"></div>

			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>
