<!DOCTYPE HTML>

<html>
	<head>

		<style>


			.wrappp{max-width: 900px; margin 0 auto; float:center;}
ul {
	list-style:none;
	float:left;
	display:inline;
}
ul li {
	list-style:none;
	float:left;
}
ul li a {
	float:left;
	padding:4px;
	margin-right:10px;
	width:25px;
	color:white;
	font:bold 15px tahoma;
	border:1px solid #eee;
	text-align:center;
	text-decoration:none;
}
ul li a:hover, ul li a:focus {
	color:black;
	border:1px solid white;
	background-color:white;
}



li{list-style:none;}
a{text-decoration: none;}

.clearfix{content:''; display:block; clear:both;}
.head{
	height:75px;
	background-color: rgba(0, 0, 0, 0.6);
	border:1px solid black;
	position: fixed;
	width:100%;
	z-index:999;
	top:0;
	left:0;
}

h1{color:white; line-height: 75px; float:left;}
.menu{float:right;}
.menu li{float:left;}
.menu li a{border:0; text-align: center; width:150px; line-height: 75px; color:white; padding: 0 15px; display:block;}

.file_input label{
	position:relative;
	cursor:pointer;
	display:inline-block;
	vertical-align: middle;
	overflow:hidden;
	width:100px;
	height: 30px;
	background:#777;
	color:#fff;
	text-align: center;
	line-height: 30px;
}
.file_input label input{
	position:absolute;
	width:0;
	height: 0;
	overflow:hidden;
}
.file_input input[type=text]{
	vertical-align: middle;
	display:inline-block;
	width:400px;
	height:28px;
	line-height: 28px;
	font-size:11px;
	padding:0;
	border:0;
	border:1px solid #777;
}

		</style>
		<title>Whatch Theater-연극</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

	</head>
	<body class="is-preload" style="font-family: 'Nanum Gothic Coding', monospace;">

		<!-- Wrapper -->
			<div id="wrapper">



				

<p></p>
<header class="head">
	<div>
		<h1>Whatch Theater</h1>
		<nav>
			<ul class="menu">
				<li><a href="/" class="menu">Home</a></li>
				<li><a href="/poster-act/page/1" class="menu">연극</a></li>
				<li><a href="/poster-musical/page/1" class="menu">뮤지컬</a></li>
				<li><a href="/mypage" class="menu">마이페이지</a></li>
			</ul>
		</nav>
	</div>
</header>


<br><br><br><br>





<header id="header" style="display:block;">
	<div class="content">
		<div class="inner">
			<h1>공지&이벤트 작성</h1>
		</div>
	</div>
</header>
<br><br><br><br><br>


<% if(!update) { %>
<form method="post" action="/upload/en">
	<table class="wrappp" style="width: 800px; height: 300px; margin-left:auto; margin-right:auto; font-color:white; font-size:18px; font-family: 'Nanum Gothic Coding', monospace;" cellspacing="3px">
		<tr>
			<td>
			<div>
				<select name="classify" style="width:300px;">
					<option value="">이벤트/공지</option>
					<option value="event">이벤트</option>
					<option value="notice">공지</option>
				</select>
			</div>
		</td>
		</tr>
		<tr>
			<td>
				<input type="text" name="title" style="width:300px;">
			</td>
		</tr>
		<tr>
			<td style="width:900px; height: 400px;">
			<textarea style="width:900px; height: 400px;" name="content">

			</textarea>

			</td>
		</tr>
		<tr>
			<td>
				<div class="file_input">
					<input id="url" name="url" type="text" readonly="readonly" id="file_route">
					<label>
						파일 업로드
						<input id="img" type="file" accept="image/*">
					</label>
				</div>
			</td>
		</tr>
	</table>


	<div style="float;right;">
		<button type="submit" style="float:right; vertical-align: :center; width:100px; height:50px; font-size:18px; border:0px; background:black; outline:none;">
			등록
		</button>
	</div>
</form>
<% } else { %>
	<table class="wrappp" style="width: 800px; height: 300px; margin-left:auto; margin-right:auto; font-color:white; font-size:18px; font-family: 'Nanum Gothic Coding', monospace;" cellspacing="3px">
		<tr>
			<td>
				<div>
					<select name="classify" style="width:300px;">
						<option value="">이벤트/공지</option>
						<option value="event">이벤트</option>
						<option value="notice">공지</option>
					</select>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<input type="hidden" name="postId" value=<%= post.id %>>
				<input type="text" name="title" style="width:300px;" value="<%= post.title %>">
			</td>
		</tr>
		<tr>
			<td style="width:900px; height: 400px;">
				<textarea style="width:900px; height: 400px;" name="content" value="<%= post.longinfo %>">

				</textarea>
			</td>
		</tr>
		<tr>
			<td>
				<div class="file_input">
					<input id="url" name="url" type="text" readonly="readonly" id="file_route" value="<%= post.thumbnail %>">
				<label>
					파일 업로드
					<input id="img" type="file" accept="image/*">
				</label>
				</div>
			</td>
		</tr>
	</table>
		<div style="float;right;">
			<button type="submit" style="float:right; vertical-align: :center; width:100px; height:50px; font-size:18px; border:0px; background:black; outline:none;"
				onclick="userUpdate()">
				수정
			</button>
		</div>
<% } %>

				<!-- Footer -->
					<footer id="footer">
						Whatch Theater
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<!--<script src="assets/js/jquery-1.11.3.min.js"></script>
			<script src="assets/js/star.js"></script>-->
		<!--지우지 말 것! 이미지 파일 url 받아오는 전송, 응답 객체들임-->
		<script>
			if(document.getElementById('img')) {
				document.getElementById('img').addEventListener('change', function(e) {
					var formData = new FormData();
					console.log(this, this.files);
					formData.append('img', this.files[0]);
					var xhr = new XMLHttpRequest();
					xhr.onload = function() {
						if(xhr.status === 200) {
							var url = JSON.parse(xhr.responseText).url;
							document.getElementById('url').value = url;
						} else {
							console.error(xhr.responseText);
						}
					};
					xhr.open('POST', '/upload/img');
					xhr.send(formData);
				});
			}
		</script>
		<script>
			var userUpdate = () => {
				var xhr = new XMLHttpRequest();
				var data = {
					title: $("input[name='title']").val(),
					url: $("input[name='url']").val(),
					content: $("textarea[name='content']").val(),
					classify: $("input[name='classify']").val(),
					postId: $("input[name='postId']").val(),
				};
				/*
                * 요청을 보내고 응답을 받지 않으면 계속해서 페이지가 빙빙돈다
                * 그러므로 onload 함수를 통해 직접 리다이렉트를 만져야한다
                 */
				xhr.onload = function() {
					if(xhr.status === 200) {
						alert('수정되었습니다');
						//리다이렉트
						location.assign(xhr.responseURL);
					} else {
						console.error(xhr.responseText);
					}
				};
				xhr.open('PUT', '/upload/update');
				xhr.setRequestHeader('Content-Type', 'application/json');
				xhr.send(JSON.stringify(data));
			}
		</script>
	</body>
</html>
