<!DOCTYPE HTML>

<html>
	<head>
		<style>


			.wrappp{max-width: 900px; margin 0 auto; float:center;}
ul {
	list-style:none;
	float:left;
	display:inline;
}
ul li {
	list-style:none;
	float:left;
}
ul li a {
	float:left;
	padding:4px;
	margin-right:10px;
	width:25px;
	color:white;
	font:bold 15px tahoma;
	border:1px solid #eee;
	text-align:center;
	text-decoration:none;
}
ul li a:hover, ul li a:focus {
	color:black;
	border:1px solid white;
	background-color:white;
}



li{list-style:none;}
a{text-decoration: none;}

.clearfix{content:''; display:block; clear:both;}
.head{
	height:75px;
	background-color: rgba(0, 0, 0, 0.6);
	border:1px solid black;
	position: fixed;
	width:100%;
	z-index:999;
	top:0;
	left:0;
}

h1{color:white; line-height: 75px; float:left;}
.menu{float:right;}
.menu li{float:left;}
.menu li a{border:0; text-align: center; width:150px; line-height: 75px; color:white; padding: 0 15px; display:block;}

.file_input label{
	position:relative;
	cursor:pointer;
	display:inline-block;
	vertical-align: middle;
	overflow:hidden;
	width:100px;
	height: 30px;
	background:#777;
	color:#fff;
	text-align: center;
	line-height: 30px;
}
.file_input label input{
	position:absolute;
	width:0;
	height: 0;
	overflow:hidden;
}
.file_input input[type=text]{
	vertical-align: middle;
	display:inline-block;
	width:400px;
	height:28px;
	line-height: 28px;
	font-size:11px;
	padding:0;
	border:0;
	border:1px solid #777;
}


.star-input>.input,
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{display: inline-block;vertical-align:middle;background:url('img/grade_img.png')no-repeat;}
.star-input{display:inline-block; white-space:nowrap;width:225px;height:40px;padding:25px;line-height:30px;}
.star-input>.input{display:inline-block;width:150px;background-size:150px;height:28px;white-space:nowrap;overflow:hidden;position: relative;}
.star-input>.input>input{position:absolute;width:1px;height:1px;opacity:0;}
star-input>.input.focus{outline:1px dotted #ddd;}
.star-input>.input>label{width:30px;height:0;padding:28px 0 0 0;overflow: hidden;float:left;cursor: pointer;position: absolute;top: 0;left: 0;}
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{background-size: 150px;background-position: 0 bottom;}
.star-input>.input>label:hover~label{background-image: none;}
.star-input>.input>label[for="p1"]{width:30px;z-index:5;}
.star-input>.input>label[for="p2"]{width:60px;z-index:4;}
.star-input>.input>label[for="p3"]{width:90px;z-index:3;}
.star-input>.input>label[for="p4"]{width:120px;z-index:2;}
.star-input>.input>label[for="p5"]{width:150px;z-index:1;}
.star-input>output{display:inline-block;width:60px; font-size:18px;text-align:right; vertical-align:middle;}
		</style>
		<title>Whatch Theater-연극</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

	</head>
	<body class="is-preload" style="font-family: 'Nanum Gothic Coding', monospace;">

		<!-- Wrapper -->
			<div id="wrapper">



				

<p></p>
<header class="head">
	<div>
		<h1>Whatch Theater</h1>
		<nav>
			<ul class="menu">
				<li><a href="home.html" class="menu">Home</a></li>
				<li><a href="act.html" class="menu">연극</a></li>
				<li><a href="html files/musical.html" class="menu">뮤지컬</a></li>
				<li><a href="html files/mypage.html" class="menu">마이페이지</a></li>
			</ul>
		</nav>
	</div>
</header>


<br><br><br><br>





<header id="header" style="display:block;">
	<div class="content">
		<div class="inner">
			<h1>Review</h1>
		</div>
	</div>
</header>
<br><br><br><br><br>



<form action="/upload/review-upload" method="post" enctype="multipart/form-data">
	<table class="wrappp" style="width: 800px; height: 300px; margin-left:auto; margin-right:auto; font-color:white; font-size:18px; font-family: 'Nanum Gothic Coding', monospace;" cellspacing="3px">
		<tr  style="height: 50px;">
			<td align="center" style="height:50px;">
<span class="star-input">
	<span class="input">
    	<input type="radio" name="star-input" value="1" id="p1">
    	<label for="p1">1</label>
    	<input type="radio" name="star-input" value="2" id="p2">
    	<label for="p2">2</label>
    	<input type="radio" name="star-input" value="3" id="p3">
    	<label for="p3">3</label>
    	<input type="radio" name="star-input" value="4" id="p4">
    	<label for="p4">4</label>
    	<input type="radio" name="star-input" value="5" id="p5">
    	<label for="p5">5</label>
  	</span>
  	<output for="star-input"><b>0</b>/5점</output>						
</span>
			</td>
		</tr>
		<tr>
			<td style="width:900px; height: 400px;">
				<textarea style="width:900px; height: 400px;" name="content">

				</textarea>
			</td>
		</tr>
		<tr>
			<td>
				<div class="file_input">
					<input id="url" type="text" name="url" readonly="readonly" id="file_route">
					<input type="hidden" name="title" value="<%= post.title %>">
					<label>
						파일 업로드
						<input id="img" type="file" accept="image/*">
					</label>
				</div>
			</td>
		</tr>
	</table>


	<div style="float;right;">
		<button type="submit" style="float:right; vertical-align: :center; width:100px; height:50px; font-size:18px; border:0px; background:black; outline:none;">
			등록
		</button>
	</div>
</form>

				<!-- Footer -->
					<footer id="footer">
						Whatch Theater
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<!--js파일이랑 img 파일에 연결해야함 public에 저장해둠 참고할것!!-->
			<script src="js/jquery-1.11.3.min.js"></script>
			<script src="js/star.js"></script>

	</body>
</html>
